
<div class="postData">
  <p class="postDate">
    <% var date = new Date(post.date); date = date.toDateString() %>
    <%= date %>
  </p>
  <a  href="/posts/<%= post.id %>" class="postTitle"><%= post.title %></a>
  <img
    <% if (post.image) { %>
      src="<%= post.image.url%>"
    <% } %>
  class="postImage" id="preview">
  <div class="post_body_wrap">
    <% var maxLength = 700; %>
    <% if (post.body.length > maxLength) {
      var trimmedString = post.body.substr(0, maxLength);
      var trimmedString = trimmedString.substr(0, Math.min(trimmedString.length, trimmedString.lastIndexOf(" "))) %>
    <p class="postBody"><%= trimmedString %> ...</p>
    <div class="read_more_wrap">
      <a href="/posts/<%= post.id %>" class="readMore">READ MORE</a>
    </div>
     <% } else { %>
    <p class="postBody"><%= post.body %></p>
    <% } %>
  </div><!--post_body_wrap-->
  <p class="postTags">
    <% if (post.tags[0] !== "") { %>
      <img src="/images/tag.png" width="20px">
    <% } %>
    <% post.tags.forEach(function(tag){ %>
      <span class="searchTag"><%= tag %></span>
    <% }) %>
  </p>
</div><!--postData-->


