<!DOCTYPE html>
<html>
  <head>
    <title>Ilia Gerassimov - <%= post.title %></title>
    <% include ./partials/head %>
    <link rel='stylesheet' href='/stylesheets/libraries/jquery.sidr.dark.css'/>
    <link rel='stylesheet' href='/stylesheets/blog.css' />
    <link rel='stylesheet' href='/stylesheets/mobile_blog.css' />
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'/>
    <!-- Facebook sharing content -->
    <meta property="og:url"           content="http://birchmassage.com/posts/<%= post._id %>" />
    <meta property="og:title"         content="<%= post.title %>" />
    <meta property="og:description"   content="<%= post.body %>" />
    <meta property="og:image"         content="<%= post.image.url %>" />
    <meta property="og:image:type"    content="image/png">
    <meta property="og:image:width" content="480"/>
    <meta property="og:image:height" content="480"/>
  </head>
  <body>

    <% include ./partials/blog_header.ejs %>

    <div class="container main_wrapper">
      <div class="row">
        <div class="main_wrapper_bg eight columns">
          <div class="content_wrapper">
            <a href="/blog" class="link_back"><p class="all_posts back">Back to all posts</p></a>
            <div class="posts">

              <div class="post" data-id="<%= post.id %>">
                <div class="postData">
                  <p class="postDate">
                    <% var date = new Date(post.date); date = date.toDateString() %>
                    <%= date %>
                  </p>
                  <p class="postTitle"><%= post.title %></p>
                  <img
                  <% if (post.image.url) { %>
                    src="<%= post.image.url%>"
                  <% } %>
                  class="postImage" id="preview">
                  <div class="post_body_wrap">
                    <p class="postBody"><%= post.body %></p>
                  </div><!--post_body_wrap-->
                  <div class="post_signature_wrapper">
                    <img src="/images/example.png" alt="post signature" class="post_signature">
                  </div><!--post_signature_wrapper-->
                  <p class="postTags">
                    <% if (post.tags[0] !== "") { %>
                      <img src="/images/tag.png" width="20px">
                    <% } %>
                      <% post.tags.forEach(function(tag){ %>
                      <span class="searchTag"><%= tag %></span>
                    <% }) %>
                  </p>
                </div><!--postData-->

                <% if (user) { %>
                <div class="edit_delete_wrapper">
                  <p class="deletePost">Delete</p>
                  <p class="openEdit">Edit</p>
                  <div class="edit">
                    <form id="editPostForm">
                      <% if (post.image.url) { %>
                        <div class="change_image_wrap">
                          <p class="deleteImage">
                            <img src="/gifs/spinster.gif" id="spinster">
                            <span>Delete Image</span>
                          </p>
                          <p class="openChangeImage">Change Image</p>
                          <div class="changeImageInput">
                            <input type="file" name="image" class="editFile">
                              <p class="changeImage">
                                <img src="/gifs/spinster.gif" id="spinster">
                                <span>Submit Image</span>
                              </p>
                          </div><!--changeImageInput-->
                        </div><!--change_image_wrap-->
                      <% } else { %>
                        <input type="file" name="image" class="editFile">
                      <% } %>
                      <input type="text" name="editPostTitle" value="<%=post.title %>" class="editPostTitle">
                      <textarea name="editPostBody" class="editPostBody"><%= post.body %></textarea>
                      <input type="text" name="editPostTags" class="editPostTags"
                      <% if (post.tags[0] !== "") { %>
                        value="<%= post.tags.join(', ') %>"
                      <% } else { %>
                        value="" style="color: #D1D1D1"
                      <% } %>
                      >
                      <div class="edit_post_wrap">
                        <p class="editPost">
                          <img src="/gifs/spinster.gif" id="spinster">
                          <span>Update</span>
                        </p>
                      </div><!--edit_post_wrap-->
                    </form>
                  </div><!--edit-->
                </div><!--edit_delete_wrapper-->
                <% } %>

              </div><!--post-->
              <div class="share_box">
                <h4>Share this post on:</h4>
                <div class="share_content">
                  <div class = "facebook_share">
                    <img src="/images/facebook-ci.png" class="fb-share">
                    <p>Facebook</p>
                  </div><!--facebook_share-->
                  <div class="twitter_share">
                    <a target="_blank" href="https://twitter.com/share" class="twitter-share-button" data-via="Muravkina"><img src="/images/twitter-ci.png">
                    <p>Twitter</p></a>
                  </div><!--twitter_share-->
                  <div class="linkedin_share">
                  <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= url %>&title=<%= post.title %>&summary=<%= post.body %>&source=http://birchmassage.com/" target="_blank"><img src="/images/linkedin-ci.png"></a>
                    <p>Linkedin</p>
                  </div><!--linkedin_share-->
                </div><!--share_content-->
              </div><!--share_box-->

              <!-- RELATED POSTS -->

              <div class="relatedPosts">
                <% if (relatedPosts.length !== 1) { %>
                  <h4>Related posts: </h4>
                <% } %>
                <div class="related_posts_content">
                  <% relatedPosts.forEach(function(relatedPost){ %>
                    <% if(relatedPost.id !== post.id) { %>
                      <div class="related_single_post">
                        <% if (relatedPost.image.url) { %>
                          <img src="<%=relatedPost.image.url%>" width="75" height="75">
                        <% } else { %>
                          <img src="/images/no_image.png" width="75" height="75">
                        <% } %>
                        <a href="/posts/<%=relatedPost.id%>"><%= relatedPost.title %></a>
                        <p><%= relatedPost.body.substr(0, 200) %></p>
                      </div><!--related_single_post-->
                    <% } %>
                  <% }) %>
                </div><!--related_posts_content-->
              </div><!--relatedPosts-->

              <!-- COMMENTS -->

              <div class="comment_section">
                <h4>Comments:</h4>
                <button class="openComment">Leave a comment</button>
                <div class="commentForm row">
                  <div class="formErrors"></div>
                  <form id="commentForm">
                    <label for="commentTitle" class="two columns">Title</label>
                    <input type="text" id="commentTitle" class="five columns" name="commentTitle" placeholder="Title">
                    <label for="commentAuthorName" class="two columns">Name&#42;</label>
                    <input type="text" id="commentAuthorName" class="five columns" name="commentAuthorName" placeholder="Name">
                    <label for="commentAuthorEmail" class="two columns">Email&#42; (will not be displayed) </label>
                    <input type="text" id="commentAuthorEmail" class="five columns" name="commentAuthorEmail" placeholder="Email">
                    <label for="commentAuthorWebsite" class="two columns">Website</label>
                    <input type="text" id="commentAuthorWebsite" class="five columns" name="commentAuthorWebsite" placeholder="Website">
                    <label for="commentBody" class="two columns">Comment&#42;</label>
                    <textarea id="commentBody" name="commentBody" class="five columns" placeholder="Leave a comment"></textarea>
                    <div class="submitComment_wrap">
                      <p class="submitComment">Submit comment</p>
                    </div>
                  </form>
                </div>
                <div class="commentsCollection">
                  <% post.comments.forEach(function(comment){ %>
                    <div class="comment" data-id="<%= comment.id %>">
                      <p class="commentTitle"><%= comment.title %></p>
                      <% if (comment.title) { %>
                        <img src="/images/triangle.png" width="6">
                      <% } %>
                      <p class="commentAuthorName"><%= comment.name %></p>
                      <% if (comment.website) { %>
                        <img src="/images/triangle.png" width="6">
                      <% } %>
                      <a href="http://<%= comment.website %>" target="_blank"><p class="commentAuthorWebsite"><%= comment.website %></p></a>
                      <p class="commentDate">
                        <% var date = new Date(comment.date); date = date.toDateString() %>
                        <%= date %>
                      </p>
                      <p class="commentBody"><%= comment.body %></p>
                      <% if(user) { %>
                        <p class="deleteComment">Delete</p>
                      <% } %>
                    </div>
                  <% }) %>
                </div><!--commentsCollection-->
              </div><!--comment_section-->
            </div><!--posts-->
          </div>
        </div><!--main_wrapper_bg-->

        <% include ./partials/side_bar %>

      </div><!--row-->
    </div><!--container main_wrapper-->

    <script src="/javascripts/libraries/highlight.js"></script>
    <script src="/javascripts/common.js"></script>
    <script src="/javascripts/blog/blog.js"></script>
    <script src="/javascripts/blog/post.js"></script>
    <script src="/javascripts/libraries/jquery.sidr.min.js"></script>
    <% include ./partials/social_share.ejs %>

  </body>
