<% layout('layout') -%>



<div class="categories">
  <% tags.forEach(function(tag){ %>
    <p class="searchTag"><%= tag %></p>
  <% }) %>
</div><!--categories-->

<div class="searchBox">
  <input type="search" autocomplete="on" name="searchPosts" placeholder="To search type and hit enter">
</div><!--searchBox-->

<div class="popularPosts">
  <% popularPosts.forEach(function(post){ %>
    <p><%= post.title %></p>
    <p><%= post.body.substr(0, 100) %></p>
  <% }) %>
</div>
<button class="all_posts back">Back</button>
<div class="posts">
  <% posts.forEach(function(post){ %>
    <div class="post" data-id= <%= post.id %>>
      <div class="postData">
        <p class="postDate">
          <% var date = new Date(post.date); date = date.toDateString() %>
          <%= date %>
        </p>
        <a  href="/posts/<%= post.id %>" class="postTitle"><%= post.title %></a>
        <p class="postBody"><%= post.body %></p>
        <p class="postTags">
          <% post.tags.forEach(function(tag){ %>
            <span class="searchTag"><%= tag %></span>
          <% }) %>
        </p>
      </div>
      <% if (user) { %>
        <button class="openEdit">Edit</button>
      <div class="edit">
        <form id="editPostForm">
          <input type="text" name="editPostTitle" value="<%=post.title %>" class="editPostTitle">
          <textarea name="editPostBody" class="editPostBody"><%= post.body %></textarea>
          <input type="text" name="editPostTags" class="editPostTags" value="<%= post.tags.join(', ') %>">
          <button class="editPost">Submit</button>
        </form>
      </div>
      <button class="deletePost">Delete</button>
      <% } %>
      <a href="/posts/<%=post.id%>">Comments (<%= post.comments.length %>)</a>
    </div><!--edit-->
  <% }) %>
</div>
<div class="pages" data-id="<%= totalPosts %>">
  <p class="newerPosts">Newer posts</p>
  <% if (posts.length === 10) { %>
    <p class="olderPosts">Older posts</p>
  <% } %>
</div>

<% if (user) {%>
  <button>New post</button>
  <div class="formErrors"></div>
  <form method="post" action="/blog" id="blogForm">
    <input type="text" id="title" placeholder="Title" name="title"><br>
    <textarea id="body" placeholder="Share your insights" name="body"></textarea><br>
    <input type="text" id="tags" name="tags">
    <button class="submitPost">Submit</button>
  </form>
<% } %>

