<% layout('layout') -%>


<div class="posts">
  <% posts.forEach(function(post){ %>
    <div class="post" data-id= <%= post.id %>>
      <div class="postData">
        <p class="postDate"><%= post.date %></p>
        <a  href="/posts/<%= post.id %>" class="postTitle"><%= post.title %></a>
        <p class="postBody"><%= post.body %></p>
        <p class="postTags">
          <% post.tags.forEach(function(tag){ %>
            <span><%= tag %></span>
          <% }) %>
        </p>
      </div>
      <button class="openEdit">Edit</button>
      <div class="edit">
        <form id="editPostForm">
          <input type="text" name="editPostTitle" value="<%=post.title %>" class="editPostTitle">
          <textarea name="editPostBody" class="editPostBody"><%= post.body %></textarea>
          <input type="text" name="editPostTags" class="editPostTags" value="<%= post.tags.join(', ') %>">
          <button class="editPost">Submit</button>
        </form>
      </div>
      <button class="deletePost">Delete</button>
      <a href="/posts/<%=post.id%>">Comments (<%= post.comments.length %>)</a>
    </div><!--edit-->
  <% }) %>
</div>


  <button>New post</button>
  <div class="formErrors"></div>
  <form method="post" action="/blog" id="blogForm">
    <input type="text" id="title" placeholder="Title" name="title"><br>
    <textarea id="body" placeholder="Share your insights" name="body"></textarea><br>
    <input type="text" id="tags" name="tags">
    <button class="submitPost">Submit</button>
  </form>


