<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="/stylesheets/alternative.css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css">
    <link rel="stylesheet" href="/stylesheets/index_mobile.css">
    <link href='https://fonts.googleapis.com/css?family=Carter+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Krona+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/javascripts/libraries/jquery-ui.js"></script>
  </head>

  <body>

    <div class="main">
      <div class="main_landing">
        <div class="landing_image">
          <div class="massage_therapist_image wrap">
            <img src="gifs/massage_therapist.gif">
          </div><!--massage_therapist_image wrap-->
        <div class="main_heading">
          <h1>Ilia Gerassimov</h1>
          <p>massage is my profession</p>
        </div><!--main_heading-->
      </div><!--landing_image-->
    </div><!--main_landing-->

    <div class="black_landing">
      <div class="landing_button_pictures">
        <div class="landing_button">
          <div class="landing_button_image wrap about" id="about">
            <img src="images/about.png">
          </div><!--landing_button_image wrap-->
        </div><!--landing_button-->

        <div class="landing_button">
          <div class="landing_button_image wrap schedule" id="schedule">
            <img src="images/schedule.png">
          </div><!--landing_button_image wrap-->
        </div><!--landing_button-->

        <div class="landing_button">
          <div class="landing_button_image wrap rates" id="rates">
            <img src="images/rates.png">
          </div><!--landing_button_image wrap-->
        </div><!--landing_button-->

        <div class="landing_button">
          <div class="landing_button_image wrap reviews" id="reviews">
            <img src="images/reviews.png">
          </div><!--landing_button_image wrap-->
        </div><!--landing_button-->

        <div class="landing_button">
          <div class="landing_button_image wrap contact" id ="contact">
            <img src="images/contact.png">
          </div><!--landing_button_image wrap-->
        </div><!--landing_button-->

        <div class="landing_button">
          <a href="/blog">
            <div class="landing_button_image wrap blog" id="blog">
              <img src="images/blog.png">
            </div><!--landing_button_image wrap-->
          </a>
        </div><!--landing_button-->
      </div><!--landing_button_pictures-->
    </div><!--black_landing-->
    <div class="bottom_div"></div>
  </div><!--main-->
  <div class="header">
      <div class="landing_text about wrap" id="about">
        <p id="about">About</p>
      </div><!--landing_button_text wrap-->

      <div class="landing_text schedule wrap" id="schedule">
        <p id="schedule">Schedule</p>
      </div><!--landing_button_text wrap-->

      <div class="landing_text rates wrap" id="rates">
        <p id="rates">Rates</p>
      </div><!--landing_button_text wrap-->

      <div class="landing_text reviews wrap" id="reviews">
        <p id="reviews">Reviews</p>
      </div><!--landing_button_text wrap-->


      <div class="landing_text contact wrap" id="contact">
        <p id="contact">Contact</p>
      </div><!--landing_button_text wrap-->

      <div class="landing_text blog wrap">
        <p id="blog">Blog</p>
      </div><!--landing_button_text wrap-->
    </div><!--header-->

  <div class="about bounce_up scrollable">
    <h1>About</h1>
    <div class="about_pictures">
      <div class="education section">
        <div class="education about_image wrap">
          <img src="images/hat_top_part.png" class="top_part">
          <img src="images/hat_middle_part.png" class="middle_part">
          <img src="images/hat_bottom_part.png" class="bottom_part">
          <h2>Education</h2>
        </div><!--education about_image wrap-->
      </div><!--education section-->
      <div class="massage section">
        <div class="massage about_image wrap">
          <img src="images/hand_top_part.png" class="top_part">
          <img src="images/hand_middle_part.png" class="middle_part">
          <img src="images/hand_bottom_part.png" class="bottom_part">
          <h2>Massage</h2>
        </div><!--massage about_image wrap-->
      </div><!--massage section-->
      <div class="medical section">
        <div class="medical about_image wrap">
          <img src="images/medical_top_part.png" class="top_part">
          <img src="images/medical_middle_part.png" class="middle_part">
          <img src="images/medical_bottom_part.png" class="bottom_part">
          <h2>Medicine</h2>
        </div><!--medical about_image wrap-->
      </div><!--medical section-->
      <div class="resume section">
        <div class="resume about_image wrap">
          <img src="images/resume_top_part.png" class="top_part">
          <img src="images/resume_middle_part.png" class="middle_part">
          <img src="images/resume_bottom_part.png" class="bottom_part">
          <h2>Resume</h2>
        </div><!--resume about_image wrap-->
      </div><!--resume section-->
    </div><!--about_pictures-->

    <div class="container massage_info">
      <div class="row">
        <div class="close_icon_wrap">
          <img src="images/close_icon.png" class="close_icon">
        </div><!--close_icon_wrap-->
        <h1>Services</h1>
        <div class="direct_hire eleven columns">
          <p>You can always <span class="contact_directly">contact me directly</span> for hire, or use the links below that best fit your therapy plans. Check out the <span class="check_rates">rates.</span></p>
        </div><!--direct_hire-->
        <div class="companies">
          <div class="zeel company three columns">
            <p>On demand app request responder. The company delivers top-quality massage to your home, hotel or office in as little as an hour from the time you book.</p>
            <a href="https://www.zeel.com/" target="_blank"><img src="images/zeel.png" alt="zeel logo"></a>
          </div><!--zeel-->
          <div class="stressbusters company three columns">
            <p>The company specializes in corporate chair massage or in office massage. Book in advance.</p>
            <a href="http://www.stressbustersnyc.com/" target="_blank"><img src="images/stressbusters1.png" alt="stressbusters logo"></a>
          </div><!--stressbusters-->
          <div class="greenpoint company three columns">
            <p>Extended medical assessment office. Full service chiropractic office offering massage therapy as part of our health care team.</p>
            <a href="http://www.manhattanavechiropractic.com/" target="_blank"><img src="images/greenpoint.png"></a>
          </div><!--greenpoint-->
          <div class="health_fare company three columns">
            <p>The company offers weekly and monthly in-house chair massage programs, as well as one-time incentive based massage programs.</p>
            <a href="http://www.healthfairsdirect.com/massage-therapy.html" target="_blank"><img src="images/health_fare.png"></a>
          </div><!--health_fare-->
        </div><!--companies-->
      </div><!--massage_info-->
    </div>

    <div class="container education_info">
      <div class="close_icon_wrap">
        <img src="images/close_icon.png" class="close_icon">
      </div><!--close_icon_wrap-->
      <h1>Education</h1>
      <div class="row">
        <div class="three columns wrap offset-by-one logo">
          <img src="images/bronx_institute.png" alt="bronx instute logo">
        </div><!--two columns-->
        <div class="one column bronx">
          <h3>2006</h3>
        </div><!--two columns-->
        <div class="seven columns bronx">
          <p>Bronx Institute For Career Training and Development Inc.</p>
          <ul>
            <li>Certified Home Health Aid</li>
          </ul>
        </div><!--five columns-->
      </div><!--row-->
      <div class="row">
        <div class="three columns wrap offset-by-one logo">
          <img src="images/emergency_care.png" alt="emergency care programs logo">
        </div><!--two columns-->
        <div class="one column">
          <h3>2010</h3>
        </div><!--two columns-->
        <div class="seven columns">
          <p>Emergency Care Programs<p>
          <ul>
            <li>New York State Emergency Medical Technician (EMT-B)</li>
          </ul>
        </div><!--five columns-->
      </div><!--row-->
      <div class="row">
        <div class="three columns wrap offset-by-one logo">
          <img src="images/swedish_institute.png" alt="swedish institute logo">
        </div><!--two columns-->
        <div class="one column">
          <h3>2011</h3>
        </div><!--two columns-->
        <div class="seven columns">
          <p>Swedish Institute College of Health Services<p>
          <ul>
            <li>Licenced Massage Therapist</li>
          </ul>
        </div><!--five columns-->
      </div><!--row-->
      <div class="row continue_education">
        <div class="three columns wrap offset-by-one continuing_education">
          <p>Professional Continuing<br> Education
          </p>
        </div><!--two columns-->
        <div class="one column offset-by-one">
          <h3>2012</h3>
        </div><!--two columns-->
        <div class="seven columns">
          <p>Myofacial Shiatsu for Common Client Complaints<p>
          <ul>
            <li>Cody Landis - KMT Instructor</li>
          </ul>
        </div><!--five columns-->
      </div><!--row-->
      <div class="row continue_education">
        <div class="one column offset-by-five">
          <h3>2013</h3>
        </div><!--two columns-->
        <div class="seven columns">
          <p>Freeing the Neck Using 3D Approach<p>
          <ul>
            <li>Erica Clinton - LMT Instructor</li>
          </ul>
        </div><!--five columns-->
      </div><!--row-->
      <div class="row continue_education">
        <div class="one column offset-by-five">
          <h3>2014</h3>
        </div><!--two columns-->
        <div class="seven columns">
          <p>PNF Stretching for LMTs and Personal Trainers<p>
          <ul>
            <li>Carrie Taylor - BSc, MS, RMT, LMT Instructor</li>
          </ul>
        </div><!--five columns-->
      </div><!--row-->
      <div class="row">
        <div class="one column offset-by-five">
          <h3>2015</h3>
        </div><!--two columns-->
        <div class="seven columns">
          <p>Periodization of Sports Massage<p>
          <ul>
            <li>Vincent Metzo - MA, LMT Instructor</li>
          </ul>
        </div><!--five columns-->
      </div><!--row-->
    </div><!--container-->

    <div class="container resume_info">
      <div class="close_icon_wrap">
        <img src="images/close_icon.png" class="close_icon">
      </div><!--close_icon_wrap-->
      <h1>Documents</h1>
      <h2>Request</h2>
      <div class="row">
        <div class="six columns offset-by-one">
          <div class="formErrors"></div>
          <form method="post" action="/documentRequest" id="document_request_form">
            <label for="phone">Phone</label>
            <input type="text" id="phone" name="phone"><br>
            <label for="email">Email*</label>
            <input type="email" id="email" class="email" name="email"><br>
            <label for="comment">Comment*</label>
            <textarea id="comment" class="comment" name="comment" placeholder="Please, include name and the reson for requesting documents"></textarea>
          </form>
        </div><!--five columns-->
        <div class="five columns">
          <input type="checkbox" id="resume" value="resume">
          <label for="resume">Resume</label><br>
          <input type="checkbox" id="registration" value="registration">
          <label>NYC Registration</label><br>
          <input type="checkbox" id="insurance" value="insurance">
          <label>AMTA insurance</label><br>
          <input type="checkbox" id="medical" value="medical">
          <label>CPR instructor card</label>
          <input type="checkbox" id="certificates" value="certificates">
          <label>Medical exam/shots</label><br>
          <input type="checkbox" id="cpr" value="cpr">
          <label>Continue education certificates</label><br>
        </div><!--five columns-->
        <div class="submit_documents wrap">
          <button class="submit_documents">Submit request</button>
        </div>
      </div><!--row-->
    </div><!--container-->



  </div><!--about-->

  <div class="schedule bounce_up scrollable" >
    <h1>Schedule</h1>
    <div class="schedule_calendar">
    </div><!--schedule_calendar-->
  </div><!--schedule-->

  <div class="rates bounce_up scrollable">
    <h1>Rates</h1>
  </div><!--rates-->

  <div class="reviews section bounce_up scrollable">
    <h1>Reviews</h1>
    <div class="wrap kick_me_man">
      <img src="images/kick_me.jpg">
    </div><!--kick_me_man-->
    <div class = "container">
      <div class="row">
        <div class="form eleven columns">
          <form method="post" action="/" id="reviewForm">
            <legend>Please rate:</legend>
            <div class="formErrors"></div>
            <div class="rating_stars_wrapper">
              <fieldset class="rating">
                <!-- Stars -->
                <input type="radio" id="star5" name="rating" value="5" /><label for="star5">5 stars</label>
                <input type="radio" id="star4" name="rating" value="4" /><label for="star4">4 stars</label>
                <input type="radio" id="star3" name="rating" value="3" /><label for="star3">3 stars</label>
                <input type="radio" id="star2" name="rating" value="2" /><label for="star2">2 stars</label>
                <input type="radio" id="star1" name="rating" value="1" /><label for="star1">1 star</label>
              </fieldset>
            </div><!-- rating_stars_wrapper -->
            <fieldset>
              <div class="review_row">
                <label for="author">&#42;Name:</label>
                <input type="text" id="author" name="author" class="reviewAuthor">
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" class="reviewEmail">
              </div>
              <div class="review_row">
                <label for="body">&#42;Review:</label>
                <textarea id="body" name="body" class="reviewBody"></textarea>
              </div>
            </fieldset>
            <div class="review_button">
              <button class="submit">Submit</button>
              <input type="reset" value="Clear">
            </div><!-- review_buttons -->
          </form>
        </div><!--form eleven columns-->
      </div><!--row-->
    </div><!--container-->
    <div class="container reviews_collection_wrap">
      <div class="reviews_collection row" data-id="<%= totalReviews %>">
      <% reviews.forEach(function(review){ %>
        <div class="review six columns" data-id="<%=review.id%>">
          <div class="star-ratings-css" title= ".<%= review.stars %>" ></div>
          <p class="review_body"><%= review.body %></p>
          <p class="review_author"><%= review.author %></p>
          <% if(user) { %>
            <button class="deleteReview">Delete</button>
          <% } %>
        </div><!-- review -->
      <% }) %>
      </div><!-- reviews_collection row -->
      <div class="pages">
        <p class="newerReviews">Newer reviews</p>
        <% if (reviews.length === 10) { %>
          <p class="olderReviews">Older reviews</p>
        <% } %>
      </div>
    </div><!-- container  reviews_collection-->
  </div><!--reviews-->

  <div class="contact bounce_up scrollable">
    <h1>Contact</h1>
    <p class="contact_info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur.</p>
    <div class="container">
      <img src="images/handset.png" alt="handset" class="handset">
      <div class="row">
        <div class="three columns offset-by-three">
          <h2>Phone</h2>
          <p>(718)506-4515</p>
          <h2>Email</h2>
          <p>gerill@hotmail.com</p>
          <h2>Follow</h2>
          <div class="wrap social_media">
            <img src="images/facebook.png" alt="facebook logo">
            <img src="images/instagram.png" alt="instagram logo">
            <img src="images/linkedin.png" alt="linkedin logo">
          </div><!--wrap social_media-->
        </div><!--five columns-->
        <div class="five columns">
          <form method='POST' action='/message' id="message">
            <input type="text" id="message_name" name="message_name" placeholder="*Your name">
            <input type="email" id="message_email" name="message_email" placeholder="*Your email">
            <textarea name="message_text" id="message_text" name="message_text">*Your message</textarea>
            <button class="submit">Submit</button>
            <input type="reset" value="Clear">
          </form>
        </div><!--ficecolumns-->
      </div><!--row-->
    </div><!--container-->
    <div class="car wrap">
      <img src="gifs/car.gif" alt="car gif" id="car">
    </div><!--car-->
    <div class="road_sign wrap">
      <img src="images/road_sign.png" alt="road sign" id="road_sign">
    </div><!--road_sign wrap-->
    <div class="road wrap">
      <img src="images/road.png" alt="road">
    </div><!--road-->
  </div><!--contact-->

  <script src="/javascripts/functionality.js"></script>
  <script src="/javascripts/beauty.js"></script>

  </body>
</html>
