<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="/stylesheets/alternative.css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css">
    <link href='https://fonts.googleapis.com/css?family=Carter+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Krona+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/javascripts/libraries/jquery-ui.js"></script>
  </head>

  <body>

    <div class="main">
      <div class="main_landing">
        <div class="landing_image">
          <div class="massage_therapist_image wrap">
            <img src="gifs/massage_therapist.gif">
          </div><!--massage_therapist_image wrap-->
        <div class="main_heading">
          <h1>Ilia Gerassimov</h1>
          <p>massage is my profession</p>
        </div><!--main_heading-->
      </div><!--landing_image-->
    </div><!--main_landing-->

    <div class="black_landing">
      <div class="landing_button_pictures">
        <div class="landing_button">
          <div class="landing_button_image wrap about">
            <img src="images/about.png" id="about">
          </div><!--landing_button_image wrap-->
        </div><!--landing_button-->

        <div class="landing_button">
          <div class="landing_button_image wrap clock">
            <img src="images/clock.png" id="clock">
          </div><!--landing_button_image wrap-->
        </div><!--landing_button-->

        <div class="landing_button">
          <div class="landing_button_image wrap rates">
            <img src="images/rates.png" id="rates">
          </div><!--landing_button_image wrap-->
        </div><!--landing_button-->

        <div class="landing_button">
          <div class="landing_button_image wrap kick">
            <img src="images/kick.png" id="kick">
          </div><!--landing_button_image wrap-->
        </div><!--landing_button-->

        <div class="landing_button">
          <div class="landing_button_image wrap phone">
            <img src="images/phone.png" id ="phone">
          </div><!--landing_button_image wrap-->
        </div><!--landing_button-->

        <div class="landing_button">
          <a href="/blog">
            <div class="landing_button_image wrap pencil">
              <img src="images/pencil.png" id="pencil">
            </div><!--landing_button_image wrap-->
          </a>
        </div><!--landing_button-->
      </div><!--landing_button_pictures-->
    </div><!--black_landing-->
    <div class="bottom_div"></div>
  </div><!--main-->
  <div class="header">
      <div class="landing_text about wrap">
        <p id="about">About</p>
      </div><!--landing_button_text wrap-->

      <div class="landing_text schedule wrap">
        <p id="clock">Schedule</p>
      </div><!--landing_button_text wrap-->

      <div class="landing_text rates wrap">
        <p id="rates">Rates</p>
      </div><!--landing_button_text wrap-->

      <div class="landing_text reviews wrap">
        <p id="kick">Reviews</p>
      </div><!--landing_button_text wrap-->


      <div class="landing_text contact wrap">
        <p id="phone">Contact</p>
      </div><!--landing_button_text wrap-->

      <div class="landing_text blog wrap">
        <p id="pencil">Blog</p>
      </div><!--landing_button_text wrap-->
    </div><!--header-->

  <div class="about bounce_up scrollable">
    <h1>About</h1>
    <div class="about_pictures">
      <div class="education section">
        <div class="education about_image wrap">
          <img src="images/hat_top_part.png" class="top_part">
          <img src="images/hat_middle_part.png" class="middle_part">
          <img src="images/hat_bottom_part.png" class="bottom_part">
          <h2>Education</h2>
        </div><!--education about_image wrap-->
      </div><!--education section-->
      <div class="massage section">
        <div class="massage about_image wrap">
          <img src="images/hand_top_part.png" class="top_part">
          <img src="images/hand_middle_part.png" class="middle_part">
          <img src="images/hand_bottom_part.png" class="bottom_part">
          <h2>Massage</h2>
        </div><!--massage about_image wrap-->
      </div><!--massage section-->
      <div class="medical section">
        <div class="medical about_image wrap">
          <img src="images/medical_top_part.png" class="top_part">
          <img src="images/medical_middle_part.png" class="middle_part">
          <img src="images/medical_bottom_part.png" class="bottom_part">
          <h2>Medicine</h2>
        </div><!--medical about_image wrap-->
      </div><!--medical section-->
      <div class="resume section">
        <div class="resume about_image wrap">
          <img src="images/resume_top_part.png" class="top_part">
          <img src="images/resume_middle_part.png" class="middle_part">
          <img src="images/resume_bottom_part.png" class="bottom_part">
          <h2>Resume</h2>
        </div><!--resume about_image wrap-->
      </div><!--resume section-->
    </div><!--about_pictures-->
    <div class="about_info">
    </div><!--about_info-->
  </div><!--about-->

  <div class="schedule bounce_up scrollable">
    <h1>Schedule</h1>
    <div class="schedule_calendar">
    </div><!--schedule_calendar-->
  </div><!--schedule-->

  <div class="reviews bounce_up scrollable">
    <h1>Reviews</h1>
    <div class = "container">
      <div class="row">
        <div class="form eleven columns">
          <form method="post" action="/" id="reviewForm">
            <legend>Please rate:</legend>
            <div class="formErrors"></div>
            <div class="rating_stars_wrapper">
              <fieldset class="rating">
                <!-- Stars -->
                <input type="radio" id="star5" name="rating" value="5" /><label for="star5">5 stars</label>
                <input type="radio" id="star4" name="rating" value="4" /><label for="star4">4 stars</label>
                <input type="radio" id="star3" name="rating" value="3" /><label for="star3">3 stars</label>
                <input type="radio" id="star2" name="rating" value="2" /><label for="star2">2 stars</label>
                <input type="radio" id="star1" name="rating" value="1" /><label for="star1">1 star</label>
              </fieldset>
            </div><!-- rating_stars_wrapper -->
            <fieldset>
              <div class="review_row">
                <label for="author">&#42;Name:</label>
                <input type="text" id="author" name="author" class="reviewAuthor">
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" class="reviewEmail">
              </div>
              <div class="review_row">
                <label for="body">&#42;Review:</label>
                <textarea id="body" name="body" class="reviewBody"></textarea>
              </div>
            </fieldset>
            <div class="review_button">
              <button class="submit">Submit</button>
              <input type="reset" value="Clear">
            </div><!-- review_buttons -->
          </form>
        </div><!--form eleven columns-->
      </div><!--row-->
    </div><!--container-->
    <div class="container reviews_collection_wrap">
      <div class="reviews_collection row" data-id="<%= totalReviews %>">
      <% reviews.forEach(function(review){ %>
        <div class="review six columns" data-id="<%=review.id%>">
          <div class="star-ratings-css" title= ".<%= review.stars %>" ></div>
          <p class="review_body"><%= review.body %></p>
          <p class="review_author"><%= review.author %></p>
          <% if(user) { %>
            <button class="deleteReview">Delete</button>
          <% } %>
        </div><!-- review -->
      <% }) %>
      </div><!-- reviews_collection row -->
      <div class="pages">
        <p class="newerReviews">Newer reviews</p>
        <% if (reviews.length === 10) { %>
          <p class="olderReviews">Older reviews</p>
        <% } %>
      </div>
    </div><!-- container  reviews_collection-->
  </div><!--reviews-->

  <div class="contact bounce_up scrollable">
    <h1>Contact</h1>
  </div><!--contact-->

  <script src="/javascripts/functionality.js"></script>
  <script src="/javascripts/beauty.js"></script>

  </body>
</html>
