<!DOCTYPE html>
<html>
  <head>
    <title>Ilia Gerassimov - <%= post.title %></title>
    <link rel='stylesheet' href='/stylesheets/blog.css' />
    <% include ./partials/head %>
    <!-- Facebook sharing content -->
    <meta property="og:url"           content="http://87e30bfa.ngrok.io/posts/<%= post._id %>" />
    <meta property="og:title"         content="<%= post.title %>" />
    <meta property="og:description"   content="<%= post.body %>" />
    <meta property="og:image"         content="<%= post.image.url %>" />
    <meta property="og:image:type"    content="image/png">
    <meta property="og:image:width"        content="1200" />
    <meta property="og:image:height"        content="1200" />
  </head>
  <body>

    <div class="socialShare">
      <!--Facebook share button-->
      <div class="fb-share-button" data-href="http://16c4d911.ngrok.io/posts<%= post._id %>" data-layout="button_count"></div>
      <!--Twitter share button-->
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="Muravkina">Tweet</a>
    </div><!--socialShare-->



    <div class="post" data-id="<%= post.id %>">
      <p>
        <% var date = new Date(post.date); date = date.toDateString() %>
        <%= date %>
      </p>
      <p><%= post.title %></p>
      <% if (post.image.url) { %>
        <img src="<%= post.image.url%>">
      <% } %>
      <p><%= post.body %></p>
      <p>
        <% post.tags.forEach(function(tag){ %>
          <span><%= tag %></span>
        <% }) %>
      </p>
      <p>Comments</p>
      <button class="openComment">Leave a comment</button>
      <div class="commentForm">
        <div class="formErrors"></div>
        <form id="commentForm">
          <input type="text" name="commentTitle" placeholder="Title">
          <textarea name="commentBody" placeholder="Leave a comment"></textarea>
          <input type="text" name="commentAuthorName" placeholder="Name">
          <input type="text" name="commentAuthorEmail" placeholder="Email">
          <input type="text" name="commentAuthorWebsite" placeholder="Website">
          <button class="submitComment">Submit comment</button>
        </form>
      </div>
      <div class="commentsCollection">
        <% post.comments.forEach(function(comment){ %>
          <div class="comment" data-id="<%= comment.id %>">
            <p>
              <% var date = new Date(comment.date); date = date.toDateString() %>
              <%= date %>
            </p>
            <p class="commentTitle"><%= comment.title %></p>
            <p class="commentBody"><%= comment.body %></p>
            <p class="commentAuthorName"><%= comment.name %></p>
            <p class="commentAuthorWebsite"><%= comment.website %></p>
            <% if(user) { %>
              <button class="deleteComment">Delete</button>
            <% } %>
          </div>
        <% }) %>
      </div><!--commentsCollection-->
    </div><!--post-->
    <div class="relatedPosts">
      <% relatedPosts.forEach(function(relatedPost){ %>
        <% if(relatedPost.id !== post.id) { %>
          <% if (relatedPost.image.url) { %>
            <img src="<%=relatedPost.image.url%>">
          <% } %>
          <a href="/posts/<%=post.id%>"><%= relatedPost.title %></a>
          <p><%= relatedPost.body.substr(0, 200) %></p>
        <% } %>
      <% }) %>
    </div><!--relatedPosts-->

    <script src="/javascripts/highlight.js"></script>
    <script src="/javascripts/functionality.js"></script>
    <script src="/javascripts/beauty.js"></script>
    <% include ./partials/social_share.ejs %>

  </body>
