<div class="wrap">
<head>
  <link rel='stylesheet' href='/style.css' />
</head>
<header>
  <img src="cid:gotmail" alt="car with a mail">
<!--   <img src="../../public/images/gotmail.jpg"> -->
</header><!--header-->
<div class="body">
  <p class="intro">Ilia Gerassimov just created a new post in his blog that you're subscribed to.</p>
  <div class="postData">
    <p class="postDate">
      <% var postDate = new Date(date); postDate = postDate.toDateString() %>
      <%= postDate %>
    </p><!--postDate-->
     <a  href="http://massage-59439.onmodulus.net/posts/<%= id %>" class="postTitle" target="_blank"><%= title %></a>
    <div class="post_body_wrap">
      <% var maxLength = 700; %>
      <% if (body.length > maxLength) {
        var trimmedString = body.substr(0, maxLength);
        var trimmedString = trimmedString.substr(0, Math.min(trimmedString.length, trimmedString.lastIndexOf(" "))) %>
      <p class="postBody"><%= trimmedString %> ...</p>
      <div class="read_more_wrap">
        <a href="http://massage-59439.onmodulus.net/posts/<%= id %>" class="readMore" target="_blank">READ MORE</a>
      </div>
       <% } else { %>
      <p class="postBody"><%= body %></p>
      <% } %>
    </div><!--post_body_wrap-->
  </div><!--postData-->
  <footer>
    <div class="comment">
      <p>Check it out: <a  href="http://massage-59439.onmodulus.net/posts/<%= id %>" target="_blank">/posts/<%= id %></a> and don't hesitate to leave a comment</p>
    </div><!--comment-->
  </footer>
</div><!--body-->
</div>


